<main class="checkoutBody">
  <div class="card orderFormCard">

    <form [formGroup]="orderForm"  class="streaming_plan_form">
    
      <h4><strong>Order Summary</strong></h4>

      <br />

      <h5>Title you selected: <br /> {{ singleMovieDetail?.name }}</h5>

      <br/>

      <h5>Your streaming plan: <br /> {{ customerInfo }}</h5>

      <br />

      <h5>Your account will be debited: <br /> {{ savedOrder.totalPrice }} SEK</h5>

      <br />

      <label>
        <h5><strong>Enter your email to start streaming:</strong></h5>
          <input name="email_input" type="text" placeholder="Enter your e-mail" formControlName="emailAddress" required>
      </label>

      <br />

      <button class="myButton" [disabled]='!orderForm.valid' (click)="toggleModal()" type="submit">Place your order</button>

    </form>
  </div>

  <div class="modal_pop_up">

    <app-modal
      [show]="showModal"
      [customClass]="'custom_modal_class'"
      [closeCallback]="toggleModal"
    >
      <img src="../../assets/images/fakeflix_logo.png" width="100" height="30" alt="Fakeflix logo">
      <h3 class="thank_you_note">Thank you for your order!</h3>
      <p class="thank_you_note_paragraph">Simply confirm and continue to browse</p>
      <button class="modal_opener myButton" (click)="confirmOrder()">Confirm</button>
    </app-modal>
  </div>

</main>

<app-details-nav></app-details-nav>
