<form [formGroup]="streamingPlanForm" class="streaming_plan_form">

  <label>
  <h4>Select your streaming option below: </h4>
  </label>

  <select name="streaming_options" formControlName="streamingOptions" required autofocus>
    <option *ngFor="let streamingPlan of streamingPlanOptions" [value]="streamingPlan.id">{{ streamingPlan.value }}</option>
  </select>

  <br />

  <button class="myButton" type="button" [disabled]='!streamingPlanForm.valid' (click)='placeOrders()'>Proceed to checkout</button>

</form>
