.streaming_plan_form {
    display: block;
	color: #221f1f;
}

input[name=streaming_options], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

/* Button styling
*/

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
	
	font-size:20px;
	padding:6px 24px;
	margin-top: 80px;
}

.myButton:active {
	position:relative;
	top:1px;
}

@media screen and (min-width: 768px) {

	.myButton {
		font-size: 20px;
		padding:6px 24px;
		margin-top: 80px;
	}

	input[name=streaming_options], select, textarea {
		width: 80%;
		font-size: 16px;
	  }

}

@media screen and (min-width: 1024px) {

	.myButton {
		font-size:15px;
		padding:6px 24px;
		margin-top: 80px;
	}

	.myButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
		background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
		background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
		background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
		background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
		background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
		background-color:#c62d1f;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}
}
