<main clas="order_summary_main">

    <div class="hero">

      <h3>Orders Summary</h3>

      <table class="admin_panel">
        <thead>
          <th>Order No.</th>
          <th>Order date</th>
          <th>Email account</th> 
          <th>Price</th>
          <th>Admin action</th>
        </thead>
        <br />
        <tbody>
          <tr *ngFor="let singleOrders of orderSummary">
            <td>{{ singleOrders.id }}</td>
            <td>{{ singleOrders.created }}</td>
            <td>{{ singleOrders.createdBy }}</td>
            <td>{{ singleOrders.totalPrice }} SEK</td>

            <button class="myButton" (click)="removeOrder(singleOrders.id)">Remove record</button>
          </tr>
        </tbody>
      </table>

  </div>

</main>

<app-details-nav></app-details-nav>

