<main>

  <div class="row d-sm-block d-lg-none" >

    <div class="profile-image" [style.background-image]="'url(' + singleMovieDetail?.imageUrl + ')'">
      
    
      <div class="movie_details col-sm-12">
        <a routerLink="" routerLinkActive="active" routerLinkActiveOptions = "{ exact: true }">&times;
          <!-- <img src="../../assets/images/white_x_svg.svg" width="20" height="20" alt="X button to close the pop up window"> -->
        </a>
        <h1>{{ singleMovieDetail?.name }}</h1>
        <p>{{ singleMovieDetail?.year }}</p>
        <p>{{ singleMovieDetail?.description }}</p>

        <app-details-form class="card formCard" [singleMovieDetail]="singleMovieDetail" enabled="false"></app-details-form>

      </div>

    </div>

  </div>

  <div class="row d-none d-lg-block" >

    <div class="movie_details d-none d-lg-block col-lg-6">
        <h1>{{ singleMovieDetail?.name }}</h1>
        <p>{{ singleMovieDetail?.year }}</p>
        <p>{{ singleMovieDetail?.description }}</p>

        <app-details-form class="card formCard" [singleMovieDetail]="singleMovieDetail" enabled="false"></app-details-form>

    </div>

    <div class="img_frame d-none d-lg-block col-lg-6">
        <img class="img_detail" src="{{ singleMovieDetail?.imageUrl }}" alt="{{ singleMovieDetail?.name }}" />
    </div>
          
  </div>

</main>

<app-search-and-browse-nav></app-search-and-browse-nav>