main {
  margin: 0 auto;
  background-color: #03060B;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.profile-image {
  background-color: #03060B;
  width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
  background-position: center center;
}

.row {
  margin: 0 auto;
  display: inline;
  max-height: 100vh;
}

.movie_details {
  padding: 40px 20px 0 20px;
  max-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
}

.movie_details a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 50px;
  float: right;
  margin-top: -50px;
}

h1 {
  font-size: 25px;
}

.img_frame {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.img_detail {
  width: 100%;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
}

.formCard {
  height: auto;
  width: 100%;
  text-align: center;
  padding: 35px;
  background: #f5f5f1;
}


@media screen and (min-width: 768px) {

  .movie_details {
    padding: 100px 100px 100px 100px;
  }

  .movie_details a {
    font-size: 70px;
    margin-top: -50px;
  }
  
  .formCard {
    padding: 55px;
  }

  p {
    font-size: 26px;
  }
}

@media screen and (min-width: 1024px) {

  main {
    padding: 0 50px;
    margin: 0 auto;
    background-color: #03060B;
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 85vh;
    
  }

  .row {
    margin: 0 auto;
    display: inline;
    max-height: 100vh;
  }

  .movie_details {
    padding: 50px;
    max-height: 100vh;
    width: 50%;
    float: left;
  }

  p {
    font-size: 16px;
  }

  .img_frame {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
  }

  .img_detail {
    width: 100%;
    max-height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    float: right;
  }

  .formCard {
    height: auto;
    width: 80%;
    text-align: center;
    padding: 40px;
    margin: 30px;
    background: #f5f5f1;
  }

}