/* You can add global styles to this file, and also import other style files */
html {
    background-color: #03060B;
    /* background: #221f1f; */
}

body {
    max-height: 100vh;
    max-width: 100vw;
}