<app-home-header></app-home-header>

<main>
<div class="row" >
  
  <div class="row__inner" *ngFor="let singleMovie of movies">

    <div class="tile">

      <div class="tile__media">
        <img class="tile__img" src="{{ singleMovie.imageUrl }}" alt="{{ singleMovie.name }}" />
      </div>

      <div class="tile__details">
        <div class="tile__title">
          {{ singleMovie.name | slice:0:40 }}
        </div>
      </div>

    </div>

  </div>


</div>
</main>

<app-home-navigation></app-home-navigation>


